# Binaries
sbomgen
sbomgen.exe
*.exe

# Test binaries
*.test

# Ignore cmd and pkg
!cmd/**
!pkg/**

# Coverage
*.out
coverage.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/